.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}
.img-sobre {
  width: 280px;
  float: left;
  margin: 0 20px 20px 0;
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1.5em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}
