.titulo-principal {
  padding: 12px 40px;
  flex-grow: 2;
  font-size: larger;
  text-align: center;
  border: groove;
  margin: inherit;
}

.lista-compras {
  display: contents;
  flex-direction: column;
}
