header {
	padding: 20px 0;
}

.cabecalho-logo {
	width: 190px;
}

.caixa-transparente{
	position: relative;
	width: 940px;
	margin: 10px auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 30px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}